@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <section class="col-sm-4 justify-content-center">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                <h1>@ViewData["Title"]</h1>
                <h4>Create a new account.</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" />
                    <label asp-for="Input.FirstName"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" />
                    <label asp-for="Input.LastName"></label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.DisplayName" class="form-control" />
                    <label asp-for="Input.DisplayName"></label>
                    <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Select Image</label>
                    <div class="custom-file mb-3">
                        <input asp-for="Input.ImageFile" type="file" class="form-control" placeholder="Choose" aria-label="Choose file" aria-describedby="basic-addon2" accept=".png, .jpg, .jpeg, .bmp, .tiff">
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-md mt-1 mb-4 btn-primary rounded">Register</button>
            </form>
    </section>
    </div>
</div>

    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
